*{
    margin: 0px;
    padding: 0px;
}
img{
    margin-bottom: 5px;
}
body{
    background-image: url("../img/background.jpg");
    background-repeat: round;

}
header{
    margin-top: 20px;
    border-bottom: 1px solid #000;
}
.logo a{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:1px 2px 1px #000;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bold;

}
.logo a:hover{
    text-decoration: none;
}
.logo p{
    color: white;
}
/* HEADER */
.redesSociales{
    font-size: 25px;
}
.redesSociales .twitter{
    color:  #39C6FD;
    margin-right: 10px;
    margin-left: 10px;
}
.redesSociales .instagram{
    color: red;
}
.redesSociales a{
    text-decoration: none;
    text-transform: uppercase;
}
/* MENU */
.menu{
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: auto;
    font-weight: bold;
    text-align: center;
}
.menu .barraMenu{
    display: inline-flex;
    font-family: 'Josefin Sans', sans-serif;
}
.menu .barraMenu li{
    flex-grow: 2;
    list-style: none;
    padding: 4px;
}
.menu .barraMenu li a{
    color: #000;
    text-decoration: none;
}
.navbar{
    background: #f2f2f2;
}
.container .menu .navbar-luis-custom    {
    border-radius: 8px;
}
/*ARITUCLOS/POSTS]*/
.articulos .info{
    padding: 5px;
}
.titulo-seccion{
    margin-top:20px;
    margin-bottom: 20px;
}
.titulo-seccion h3{
    font-size: 35px;
    font-weight: bold;
    font-family: cursive;
}
.posts{
    margin-top: 25px;
}
.articulos{
    overflow:hidden;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, black, transparent);
    border-radius: 35px;
    border-radius: 35px;
}
.articulos h2{
    color: #000;
    font-family: cursive;

}
.articulos h2 a{
    text-decoration: none;
    color: #000;
}
.imagen-home img{
    width: 700px;
    height: 700px;
}
/* PAGINACION */
.paginacion{
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.paginacion a{
    text-decoration: none;
    background: #4A70F3;
    color: #fff;
    width: auto;
    display: inline-flex;
    border-radius: 3px;
    padding: 3px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
}
.paginacion .unoSeis{
    background: #000;
    color:#Fff;
}
/* SIDEBAR */
.sidebar{
    margin-top:20px;
    margin-bottom: 20px;
    padding-left: 30px;
}
.sidebar .customSidebar{
    border: 2px dashed rebeccapurple;
    padding: 20px;
    text-align: center;
    background: floralwhite;
    border-radius: 20px
}
.sidebar #luis_scura-3{
    margin-bottom: 30px;
    color: blue;
    font-weight: bold;
}
.sidebar #luis_scura-3 h3{
    color: #000;
    font-family: cursive;
    padding-bottom: 8px;
    font-size: 24px;
}
.sidebar #luis_scura-3 p{
    cursor: pointer;
}
.sidebar h3{
    color: #000;
    font-family: cursive;
    font-size: 27px;
    margin-top: 10px;
}
.sidebar .luis{
    list-style: none;
}
.sidebar #search-3{
    padding: 10p;
    border-radius: 10px;
    margin: 20p;
    text-align: center;
    padding: 2;
}
.sidebar #search-3 input[type="text"]{
    border:  1px solid;
}
.sidebar #search-3 input[type="submit"]{
    margin: 10px;
    padding: 5px;
    border: none;
    background: red;
    color: white;
    border-radius: 3px;
}
.sidebar #movieList{
    list-style: none;
}
/* ABOUT US */
.about-us-background{
    margin-top: 25%;
    margin-bottom: 26%;
    border-radius: 50%;
}
.singlePosts .contenedor .info .titleAbout{
    color: #ffff;
    font-size: 40px;

}
.singlePosts .contenedor .info .modal-header h4{
    color: #000;
}
.singlePosts .contenedor .info .texto{
    color: #000;
}
/* CONTACT PAGE */
.contenedor .info .contact-us .contactForm{
    color: #Fff;
}
.contenedor .info .contact-us .contactForm input,
textarea{
    width: 350px;
    border-radius: 7px;
    border-style: none;
    border-color: red;
}
.contenedor .info .contact-us .contactForm textarea{
    min-width: 350px;
    max-width: 350px;
    height: 77px;
    min-height: 77px;
    max-height: 130px;
    border-radius: 7px;
    border-style: none;
    border-color: red;
}
.contenedor .info .contact-us input[type="submit"]{
    width: 200px;
    border-radius: 7px;
    border-style: none;
    background: red;
    color: white;
    padding: 5px;
    cursor: pointer;
}
/* SINGLE-MOVIE PAGE */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Helvetica, sans-serif;
    color: white;
}
#main .banner-section{
    height: 700px;
    color: white;
}
#main .col{
    float:left;
    color: white;
}
#main .column2{
    margin-top: 51%;
    margin-left: 13%;
    color: white;
    font-weight: bold;
}
#main .column3{
    margin-top: -127px;
    margin-left: -15%;
    color: white;
}
#main .column3 .movie-image img{
    height: 275px;
    -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.75);
    -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.75);
    box-shadow: 3px 4px 5px rgba(0,0,0,.75);
    min-height: 275px;
    max-height: 275px;
    min-width: 275px;
    max-width: 275px;
}
#main .column4{
    margin-left: 145px;
    margin-top: -375px;
    color: white;
}
#main .cast img{
    min-height: 175px;
    max-height: 175px;
    min-width: 175px;
    max-width: 175px;
    height: 175px;
}

#main .cast .infoCharacter{
    float: right;
    width: 83%;
    margin-top: 30px;
    color: white;
}
}
/* FOOTER */
footer{
    display: flex;
    overflow: hidden;
    background: #4A70F3;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    font-weight: bold;
    text-align: center;
}
footer .col-12{
    display: inline-flex;
}
footer li{
    flex-grow: 3;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}
footer li a{
    color: #fff;
    text-decoration: none;
    text-decoration: none;
}
footer li a:hover{
   text-decoration: none;
   color: #fff;
}
.menu .container div .menu-footer ul{
    display: flex;
}
.menu .container div .menu-footer li a{
    color: white;
}
.footer-menu{
    padding: 10px;
    border-top: 1px solid #000000;
    background: #000;
    color: #Fff;
}
.footer-menu .container .parrafoFooter p{
    font-family: 'Josefin Sans', sans-serif;
}

/* MEDIAS QUERIES */
@media (min-width: 350px) and (max-width: 429px){
    .logo{
        text-align: center;
        margin-bottom: 20px;
    }
    .logo a{
        font-size: 26px;
    }
    .redesSociales a{
        font-size: 16px;
    }
    .menu{
        height: 40px;
        margin-bottom: 0px;
        width: 100%;
    }
    .barraMenu{
        font-size: 10px;
        height: 40px;
    }
    .titulo-seccion h3{
        padding: 0px;
        text-align: center;
    }
    .sidebar h3{
        text-align: center;
    }
    .sidebar .redes{
        padding: 0px;
        text-align: center;
        margin-bottom: 20px;
    }
    .sidebar .redes a{
        font-size: 43px;
        text-align: center;
    }
    .sidebar .suscribite{
        padding: 15px;
    }
    .paginacion{
        margin-bottom: 0px;
        font-size: 26px;
    }
    .paginacion a{
        margin-bottom: 10px;
        text-align: center;
    }
    footer{
        height: 40px;
    }
    footer li{
        font-size: 12px;
    }
}
@media (min-width: 430px) and (max-width: 569px){
    .logo{
        text-align: center;
        margin-bottom: 10px;
    }
    .logo a{
        font-size: 30px;
    }
    .redesSociales a{
        font-size: 18px;
    }
    .menu{
        height: 50px;
        margin-bottom: 0px;
    }
    .barraMenu{
        font-size: 12px;
        height: 40px;
    }
    .titulo-seccion h3{
        padding: 0px;
        text-align: center;
    }
    .sidebar h3{
        text-align: center;
    }
    .sidebar .redes{
        padding: 0px;
        text-align: center;
        margin-bottom: 20px;
    }
    .sidebar .redes a{
        font-size: 43px;
        text-align: center;
    }
    .sidebar .suscribite{
        padding: 15px;
    }
    .paginacion{
        margin-bottom: 0px;
        font-size: 26px;
    }
    .paginacion a{
        margin-bottom: 10px;
        text-align: center;
    }
    footer{
        height: 40px;
    }
    footer li{
        font-size: 12px;
    }
}
@media (min-width: 570px) and (max-width: 767px){
    .logo{
        text-align: center;
        margin-bottom: 10px;
    }
    .logo a{
        font-size: 33px;
    }
    .redesSociales a{
        font-size: 23px;
    }
    .menu{
        height: 50px;
        margin-bottom: 0px;
    }
    .barraMenu{
        font-size: 12px;
        height: 40px;
    }
    .posts .articulos .imagen img{
        width: 235px;
    }
    .titulo-seccion h3{
        padding: 0px;
        text-align: center;
    }
    .sidebar h3{
        text-align: center;
    }
    .paginacion{
        margin-bottom: 0px;
        font-size: 26px;
    }
    .paginacion a{
        margin-bottom: 10px;
        text-align: center;
    }
    footer{
        height: 40px;
    }
    footer li{
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1100px){
    .logo{
        text-align: center;
        margin-bottom: 10px;
    }
    .logo a{
        font-size: 36px;
    }
    .redesSociales{
      display: flex;
      text-align: center;
      font-size: 20px;
    }
    .suscribite input[type="text"]{
      width: 180px;
    }
}